.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.lightPurple {
  color: #e011a7;
}

@media screen and (max-width: 500px) {
  .account {
    font-size: 0.6em !important;
  }
}

.mint-button:hover {
  background-color: "#9333ea !important";
  opacity: 0.7 !important;
}

.wallet-adapter-button,
.wallet-adapter-button-trigger {
  text-transform: uppercase !important;
}
